---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="rocket-launch" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Team working</h2>
		<p>J'aime réfléchir, concevoir, développer et coder. Que ce soit seul ou au sein d'une équipe.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Symfony</h2>
		<p>J'ai pu participer au développement d'un projet complet lors de ma formation en tant que référent technique Symfony. J'ai une bonne pratique sur ce framework.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Organisation</h2>
		<p>Fort d'une précédente expérience de plusieurs année dans le domaine de la vente, je sais m'organiser et prioriser les tâches. Le contact client est également un point fort chez moi.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
